<ion-card>
    <ion-card-header>
    Vue d'ensemble
    </ion-card-header>
    <ion-card-content>
    <canvas id="allPie"></canvas>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
    Vote des articles
    </ion-card-header>
    <ion-card-content>
    <canvas id="articlesPie"></canvas>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
    Vote des Titres
    </ion-card-header>
    <ion-card-content>
    <canvas id="titrePie"></canvas>
    </ion-card-content>
</ion-card>

