<form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" style="height:100%" padding>
    <ion-list>
        <ion-item>
            <ion-label floating>Adresse email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Séléctionner votre civilité</ion-label>
            <ion-select formControlName="civilite">
                <ion-option *ngFor="let gender of genders" value="{{gender.value}}">{{gender.viewValue}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Prénom</ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nom de famille</ion-label>
            <ion-input type="text" formControlName="lastname"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Choisir un mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Confirmer votre mot de passe</ion-label>
            <ion-input type="password" formControlName="confirmpassword"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Date de naissance</ion-label>
            <!-- <input type="date" formControlName="dateofbirth" /> -->
            <ion-datetime
                max="{{minDate}}"
                displayFormat="DDD D MMMM YYYY"
                formControlName="dateofbirth"
                monthNames="Janvier, Fevrier, Mars, Avril, Mai, Juin, Juillet, Aout, Septembre, Octobre, Novembre, Decembre"
                monthShortNames="jan, fev, mar, avr, mai, juin, juil, aout, sep, oct,nov,dec"
                dayNames="dimanche,lundi,mardi,mercredi,jeudi,vendredi,samedi"
                dayShortNames="dim,lun,mar,mer,jeu,ven,sam">            
            </ion-datetime>
            <!-- <ion-label>Date de naissance</ion-label>
            <ion-input type="date" formControlName="dateofbirth"></ion-input> -->
        </ion-item>
        <ion-grid radio-group formControlName="isfrench">
            <ion-item>
                <ion-label>Etes vous de nationalité française?</ion-label>
            </ion-item>
            <ion-item *ngFor="let option of yesNoOptions" >
                <ion-label>{{option.label}}</ion-label>
                <ion-radio  value="{{option.value}}"></ion-radio>
            </ion-item>
        </ion-grid>

        <ion-grid radio-group formControlName="isfrance">
            <ion-item>
                <ion-label>Habitez-vous en France?</ion-label>
            </ion-item>
            <ion-item *ngFor="let option of yesNoOptions" >
                <ion-label>{{option.label}}</ion-label>
                <ion-radio  value="{{option.value}}"></ion-radio>
            </ion-item>
        </ion-grid>
        <ion-item [hidden]="isntFrance">
            <ion-label floating>Code postal</ion-label>
            <ion-input maxlength="5" type="number" formControlName="codePostal"></ion-input>
        </ion-item>
        <ion-item [hidden]="!isntFrance">
            <ion-label floating>Pays de résidence</ion-label>
            <ion-input type="text" formControlName="country"></ion-input>
        </ion-item>

        <div *ngIf="error" style="font-size:0.9em;margin:1em 1em;padding:1em 1em;background:rgba(255,50,50,0.5)">
            <ion-icon item-left large name="warning"></ion-icon>
            {{error}}
        </div>

        <ion-item style="padding-top:15px;padding-bottom:30px">
            <button ion-button outline block type="submit" [disabled]="!createUserForm.valid">Valider</button>
        </ion-item>
    </ion-list>
</form>