<ion-slides pager="true">
    <ion-slide class="bg-slide">
        <div class="claim-text">
            Redéfinissions <br><span class="underlined-text">tous ensemble</span><br> une nouvelle constitution.
        </div>
    </ion-slide>
    <ion-slide class="bg-slide">
        <div class="claim-text">
            <span class="underlined-text">Chaque citoyen(ne)</span><br> peut votre pour <br>
            <span class="underlined-text">chaque texte de la constitution.</span>
        </div>
    </ion-slide>
    <ion-slide class="bg-slide">
        <div class="claim-text">
            Chaque citoyen(ne) peut <br>
            <span class="underlined-text">enrichir</span> la constitution<br> de sa <span class="underlined-text">contribution.</span>
        </div>
    </ion-slide>
    <ion-slide class="bg-slide">
        <div class="claim-text">
            <span class="underlined-text">Une constitution</span> a l'image de sa constituante :<br>
            <span class="underlined-text">Les citoyens</span>
        </div>
    </ion-slide>
    <ion-slide>
        <div style="padding:50px;">
            <button ion-button outline block (click)="onCreateAccount()">Créer un compte</button>        
            
            <button style="margin-top:50px;" ion-button outline block (click)="onLogin()">Se connecter</button>
        </div>
    </ion-slide>
</ion-slides>


<!--<ion-list>

    <ion-card class="card">
        <ion-card-content class="card-content">
            <div class="claim-text">
                Redéfinissions <br><span class="underlined-text">tous ensemble</span><br> une nouvelle constitution.
            </div>
        </ion-card-content>
    </ion-card>


    <ion-card class="card">
        <ion-card-content class="card-content">
            <div class="claim-text">
                <span class="underlined-text">Chaque citoyen(ne)</span><br> peut votre pour <br>
                <span class="underlined-text">chaque texte de la constitution.</span>
            </div>
        </ion-card-content>
    </ion-card>


    <ion-card class="card">
        <ion-card-content class="card-content">
            <div class="claim-text">
                Chaque citoyen(ne) peut <br>
                <span class="underlined-text">enrichir</span> la constitution<br> de sa <span class="underlined-text">contribution.</span>
            </div>
        </ion-card-content>
    </ion-card>


    <ion-card class="card">
        <ion-card-content class="card-content">
            <div class="claim-text">
                <span class="underlined-text">Une constitution</span> a l'image de sa constituante :<br>
                <span class="underlined-text">Les citoyens</span>
            </div>
        </ion-card-content>
    </ion-card>


    Creer un compte
    <create-profile></create-profile>


    Connectez vous
    <login-component></login-component>

</ion-list>-->